
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.col-lg-12 {
  width: 100%;
  overflow: hidden;
}

.slide {
  position: relative;
}

.slide img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  width: 100%;
}

.row {
  margin: 0;
  padding: 0;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* Cambia según necesites */
  text-align: center;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 1; /* Asegúrate de que el texto esté por encima de la imagen */
}

.overlay-text p {
  background-color: rgba(44, 98, 171, 0.7); /* Fondo oscuro semitransparente */
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 5px;
  border-radius: 15px;
}

.custom-modal {
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 30px;
  color: white;
  z-index: 1000;
}

.modal-content {
  width: 100%;
  color: white;
  position: relative;
}

.close-modal {
  position: absolute;
  top: 20px;
  right: 110%;
  background: none;
  border: none;
  color: rgb(170, 0, 0);
  font-size: 2rem;
  cursor: pointer;
}

.search-input {
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
}

h2,
h3 {
  margin: 15px 0;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul ul {
  margin-left: 20px;
}

li a {
  color: white;
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}


@media (max-width: 768px) {
  .logo-boris {
    width: 100px !important; /* Cambia el tamaño de la imagen BORIS en móvil */
    margin-left: 0 !important; /* Ajusta la imagen hacia el borde izquierdo */
  }

  .menu-icon {
    width: 20px !important; /* Cambia el tamaño de la imagen del menú en móvil */
    margin-right: 0 !important; /* Ajusta la imagen hacia el borde derecho */
  }

  .container {
    left: 2% !important; /* Reduce el espacio lateral en móviles */
  }

  .p-5 {
    padding: 2rem !important; /* Ajusta el padding en móviles */
  }
}


@media (max-width: 768px) {

  .overlay-text h1 {
    font-size: 28px !important; /* Reducir el tamaño de la fuente del título */
  }

  .overlay-text p {
    font-size: 14px !important; /* Reducir el tamaño de la fuente del párrafo */
  }
}

@media (max-width: 576px) {
  .overlay-text h1 {
    font-size: 22px !important; /* Reducir más el tamaño del título en pantallas pequeñas */
  }

  .overlay-text p {
    font-size: 12px !important; /* Reducir más el tamaño del párrafo */
  }
}
