.img-background-white{
    background-image: url('./FONDO BLANCO.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.card {
    position: relative;
    border-radius: 20px;
    overflow: visible; /* Permite que el contenido sobresalga */
    margin-top: 50px;
  }
  
  .card img {
    object-fit: cover;
    height: 200px;
  }
  
  .card-body {
    position: absolute;
    top: 50%; /* Centrar verticalmente */
    left: 50%; /* Centrar horizontalmente */
    transform: translate(-50%, -50%); /* Moverse al centro */
    background: rgba(255, 255, 255, 0.9); /* Fondo blanco con opacidad */
    padding: 15px; /* Espaciado */
    border-radius: 20px; /* Redondear todos los bordes */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 90%; /* Ancho ajustado */
    margin-top: 40%; /* Mueve el card-body hacia abajo */
  }
  
  .btn-custom {
    border-radius: 20px;
  }
  